{% if wheater_data %}
    <h1>{{ wheater_data.city}}</h1>
    <h2>{{ wheater_data.city}}</h2>
    <p>{{ wheater_data.description }}</p>
    <img src="http://openwheatermap.org/img/w/{{wheater_data.icon}}.png" alt="{{ wheater_data.description}}">
{% endif %}

{% if daily_forecasts %}

<h2>5-Day Forecasts </h2>
<div class="forecast-container">
    {% for forecast in daily_forecats %}
    <div class="forecast">
        <h3>{{ forecast.day }}</h3>
        <p>{{ forecast.min_temp }} C {{ forecast.max_temp }} C</p>
        <p>{{ forecast.description }}</p>
        <img src="http://openwheatermap.org/img/w/{{forecast.icon}}.png" alt="{{ forecast.description}}">
        
    </div>
    {% endfor %}
</div>
{% endif %}